.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.form .input{
    margin-bottom: 50px;
}

h1, h2, h3, h4 {
    margin-top:0;
}


 .search {
     margin-top: 50px;
 }

 .sidebar {
     color: #fff;
 }

 .sidebar .btn-green {
     margin-top:20px;
     text-transform: uppercase;
     width: 200px;
     text-align: center;
     background-color: #cceac8;
 }

 .sidebar .btn-green.add-patient {
     margin-top:50px;
     height: 180px;
     font-size: 130%;
 }

.sidebar .btn-green.add-patient * {
    display: block;
}

.sidebar .add-patient .plus {
    margin-top: -40px;
    margin-bottom: 20px;
}

.sidebar .userinfo {
    padding: 20px 0;
    margin-top: 30px;
}

.sidebar .panel-default p {
    margin:0;
    color: #000;
    text-align: left;
}

.section {
    width:100%;
    padding: 20px;
    background-color: #d4f3fa;
    /*margin-bottom:20px;*/
}

.patient-form .boundary fieldset{
    width: 250px;
    display: inline-block;
    margin-right: 50px;
    margin-bottom:50px;
    vertical-align: top;
    background-color: #d4f3fa;
    padding: 20px;
}
.gauge {
    width:200px;
    height: 200px;
}

.boundary-item {
    display: inline-block;
    min-height: 230px;
    min-width: 240px;
    padding: 15px;
    background-color: #60b4da;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
}

.patient .messages {
    padding: 20px;
}

.patient .messages .table {
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
}

.new-message {
    padding: 20px;
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.fixed300 {
    min-width:300px;
    max-width:300px
float:right;
}

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}


/* scroll results */
.ui-autocomplete {
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete li {
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}

.tab-content {
    background-color: white;
    padding:20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#panicModal .alert {
    display: none;
}

.flash .alert {

}

.patient-form .boundary legend {
    float:left;
}​

