<div class="messages form">
<?php echo $this->Form->create('Message'); ?>
	<fieldset>
		<legend><?php echo __('Admin Add Message'); ?></legend>
	<?php
		echo $this->Form->input('patient_id');
		echo $this->Form->input('messagetype_id');
		echo $this->Form->input('body');
		echo $this->Form->input('sent');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Messages'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Patients'), array('controller' => 'patients', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Patient'), array('controller' => 'patients', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Messagetypes'), array('controller' => 'messagetypes', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Messagetype'), array('controller' => 'messagetypes', 'action' => 'add')); ?> </li>
	</ul>
</div>
